:root{
    --primary-color: #00ac4f;
    --white-color: #fff;
    --black-color: #000;
    --header-height: 100px;
    --circle-border-color: #d4f4dc;
    --content-bgr-color: #f5f8fa;
    --content-text-color: #333;
    --footer-text-color: #e3e3e3;
    --text-color: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-color: transparent;
}


html{
    font-size: 62.5%;
    font-family: 'Asap', sans-serif;
    box-sizing: border-box;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-48{
    margin-top: 48px !important;
}

.mt-64{
    margin-top: 64px !important;
}

.pt-64{
    padding-top: 64px !important;
}

/*loading screen*/
.loading-srceen{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white-color);
}

.loading-screen__circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid;
    border-color: var(--primary-color) #ccc #ccc #ccc;
    box-sizing: unset;
    animation: loading-screenRotate 1.5s linear infinite;
}

@keyframes loading-screenRotate{
    from{
        transform:translate(-50%, -50%) rotate(0);
    }to{
        transform:translate(-50%, -50%) rotate(360deg);
    }
}

/*Communal button*/
.btn{
    display: inline-flex;
    height: 46px;
    min-width: 126px;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    border-radius: 3px;
    cursor: pointer;
}

.round-btn{
    position: absolute;
    top: 50%;
    display: inline-flex;
    min-height: 46px;
    min-width: 46px;
    background-color: var(--white-color);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/*Main content*/
.main-container{
    margin-top: 100px;
    margin-bottom: 100px;
}

/*Side navbar*/
.side_navbar{
    margin-top: 30px;
    animation: sideNavFadeIn ease 1s;
}

@keyframes sideNavFadeIn {
    from{
        transform: translateX(-100%);
        opacity: 0;
    }to{
        transform: translateX(0);
        opacity: 1;
    }
}

.navbar_list{
    list-style-type: none;
    box-shadow: 0px 1px 20px 0px rgb(218 227 232 / 75%);
    padding: 12px 0;
    border-radius: 3px;
}

.navbar_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    margin: 0 32px;
    cursor: pointer;
    transition: all ease .3s;
}

.navbar_item:last-child{
    border-bottom: none;
}

.navbar_link{
    flex: 1;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    transition: inherit;
}

.navbar_item::before{
    content: "";
    display: block;
    position: relative;
    width: 2px;
    height: 25px;
    top: -3px;
    left: 0;
    background-color: #ddd;
    margin-right: 20px;
    transition: inherit;
}

.navbar_item i{
    color: #ddd;
    font-size: 1.6rem;
    transition: inherit;
}

.navbar_item:hover .navbar_link,
.navbar_item:hover i{
    color: var(--primary-color);
}

.navbar_item:hover::before{
    background-color: var(--primary-color);
}

/*Header*/

.header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    /* height: var(--header-height); */
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    z-index: 10;
    background-color: var(--white-color);
    transition: ease-in 0.5s;
}

.header.fixed {
    position: fixed;
    animation: headerFadeIn 0.5s ease-out
}

@keyframes headerFadeIn {
    from {
        opacity: 0.6;
        transform: translateY(-100px)
    }to{
        opacity: 1;
        transform: translateY(0)
    }
}


.header__logo-link{
    display: inline-block;
    line-height: 0;
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header__image{
    width: 190px;
}

.header__menu-icon{
    display: none;
}

.header__navbar-list{
    list-style: none;
    margin-left: auto;
    text-align: right;
    transition: all ease-in 0.3s;
}

.header__navbar-item{
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: var(--white-color);
    -webkit-tap-highlight-color: transparent;
}

.header__navbar-item .ti-plus,
.header__navbar-item .ti-minus{
    display: none;
    
}

.header__navbar-item::after{
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 70%;
    background-color: var(--primary-color);
    opacity: 0;
    will-change: transform, opacity;
}

.header__navbar-item:hover::after{
    opacity: 1;
    transform: translateX(16px);
    transition: all ease-out 0.3s;
}

.header__navbar-item:hover .header__navbar-link{
    color: var(--primary-color);
    animation: fadeIn forwards 0.2s;
}

@keyframes fadeIn{
    from{
        opacity: 0.2;
        transform: translateY(-16px);
    }to{
        opacity: 1;
        transform: translateY(0px);
    }
}


.header__navbar-link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black-color);
    font-size: 1.5rem;
    display: inline-block;
    padding: 0 12px;
    line-height: var(--header-height);
    font-weight: 500;
    will-change: opacity, transform;
    -webkit-tap-highlight-color: transparent;
}

.header__sub-navbar{
   position: absolute;
   z-index: 10;
   top: var(--header-height);
   left: -16px;
   list-style: none;
   padding: 20px 0px;
   border-top: 1px solid var(--primary-color);
   visibility: hidden;
   opacity: 0;
   transform: translateY(15px);
   transition: all ease 0.3s;
   will-change: opacity, transform;
   background-color: var(--white-color);
   box-shadow: 0 0 2px rgb(0 0 0 / 10%);
}

.header__navbar-item:hover .header__sub-navbar{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.header__sub-navbar-item{
    padding: 0 20px;
    -webkit-tap-highlight-color: transparent;
}

.header__sub-navbar-link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black-color);
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    padding: 12px;
    border-radius: 3px;
    transition: all ease-out 0.5s;
}

.header__sub-navbar-link:hover{
    background: var(--primary-color);
    color: var(--white-color);
}

.header__btn{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*Bottom slide buttons*/
.bottom-slidebuttons{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
}

.bottom-slidebutton{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    border: 2px solid var(--circle-border-color);
    background-color: transparent;
    transition: all ease-out 0.5s;
    cursor: pointer;
}

.bottom-slidebutton + .bottom-slidebutton{
    margin-left: 10px;
}

.bottom-slidebutton.active{
    background-color: rgba(255, 255, 255, 0.7);
}

.bottom-slidebutton:hover {
    border-color: var(--white-color);
    transform: scale(1.05);
}

.bottom-slidebutton.active:hover{
    background-color: var(--white-color);
}

/*Content section*/
.content-section{
    position: relative;
    padding: 100px 0 50px;
}

.content-section__heading{
    position: relative;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    font-size: 3.2rem;
    line-height: 2;
    user-select: none;
}

.content-section__heading::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 46px;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 4px;
}

/*Footer*/
.footer{
    background-color: #009247;
}

.footer-content-section{
    padding-left: 16px;
}

.footer-content-section__heading{
    position: relative;
    color: var(--white-color);
    font-size: 2.6rem;
    line-height: 2;
    font-weight: 500;
    user-select: none;
}

.footer-content-section__heading::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: var(--white-color);
}

.footer-content__list{
    margin-top: 40px;
    list-style: none;
}

.footer-content__link{
    display: block;
    text-decoration: none;
    color: var(--footer-text-color);
    font-size: 1.6rem;
    padding: 12px 0px;
    transition: all ease 0.5s;
}

.footer-content__link i{
    color: var(--white-color);
    font-size: 1.8rem;
    margin-right: 10px;
}

.footer-content__link:hover{
    color: var(--white-color);
}

/*Footer section 1*/
.footer-layout1__row{
    padding: 100px 0;
}

.license-infor{
    color: var(--footer-text-color);
    font-size: 1.6rem;
    text-align: justify;
    padding: 30px 0;
    user-select: none;
}

.license-img-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.license-img{
    width: 170px;
}

.license-img:nth-child(2){
    width: 140px;
}

/*Footer layout2*/
.footer-layout2{
    background-color: #1bb462;
}
.footer-layout2__row{
    padding: 32px 0;
    color: var(--white-color);
    font-size: 1.7rem;
    user-select: none;
    padding-left: 12px;
    font-weight: 500;
}
.socials-contact{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px 0;
    text-align:center;
}

.socials-contact a {
    text-decoration: none;
    color: var(--white-color);
    margin-left: 14px;
}

.socials-contact a:hover{
    color: #009247;
}

.update-infor{
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.update-infor__input{
    position: relative;
    width: 310px;
    margin-left: 40px;
}

.update-infor input[type*="email"]{
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: var(--white-color);
    width: 100%;
    padding: 16px 26px;
}

.update-infor input[type*="text"]::placeholder{
    color: #8b8c8d;
    font-size: 1.6rem;
}

.update-infor input[type*="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--primary-color);
    height: 100%;
    height: 100%;
    padding: 0 16px;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: bold;
}

.update-infor input[type*="submit"]:hover{
    cursor: pointer;
    background-color: #3fa34d;
}

/*Footer layout3*/
.footer-layout3{
    background-color: var(--white-color);
    padding-top: 6px;
}

.footer-layout3 p{
    color: var(--white-color);
    text-align: center;
    background-color: #009247;
    font-size: 1.3rem;
    padding: 20px 0;
    line-height: 1.6;
    user-select: none;
}


/*Modal*/
.modal{
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.modal__overlay{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal__body{
    width: 100%;
    height: 100%;
}

.modal__booking-form{
    width: 980px;
    height: 100%;
    background-color: var(--white-color);
    margin: 0 auto;
    padding: 36px 40px;
    overflow-y: scroll;
    display: none;
}

.modal__consultant-booking-form{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: unset;
    overflow: unset;
}

/* .modal__booking-form--active{
    display: block;
} */

.modal__notes{

}

.notes__heading{
    font-size: 2.8rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 48px;
}

.notes__list{
    padding: 0 20px;
}

.notes__item{
    font-size: 1.6rem;
    color: var(--content-text-color);
    font-weight: 400;
    line-height: 2.6rem;
    margin-bottom: 28px;
    text-align: justify;
    
}

.notes__item::marker{
    margin: auto;
}

.modal__consultant-booking-form .modal__form-container{
    padding: 0 0 0 56px;
}

.modal__form-container{
    position: relative;
    padding: 0 0 48px 56px;
}

.modal__form-container i[class*="ti-close"]{
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.form__heading{
    font-size: 2.8rem;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    padding: 18px 0;
}

.modal__form{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
}

.booking-form__slt-container,
.form__name-field,
.form__phone-field,
.form__email-field,
.form__des-field,
.booking-form__datetime-group,
.booking-form__slt-group{
    position: relative;
    margin-bottom: 10px;
}

.booking-form__date-field,
.booking-form__time-field{
    position: relative;
}

.booking-form__error-message{
    position: absolute;
    left: -16px;
    top: 26px;
    padding: 12px;
    background-color: var(--white-color);
    z-index: 10;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 5px 2px 12px rgba(0, 0, 0, 0.3);
    color: red;
    display: none;
    transition: all ease 0.3s;
    line-height: 2.2rem;
    animation: messageFadeIn ease-in .3s;
}

@keyframes messageFadeIn {
    from{
        visibility: hidden;
    }to{
        visibility: visible;
    }
}

.booking-form__error-message.active{
    display: block;   
}

.booking-form__error-message.text-input{
    top: 70px;
    left: 28px;
}

.booking-form__error-message::after{
    position: absolute;
    content: "";
    top: -8px;
    left: 14px;
    width: 12px;
    height: 12px;
    background-color: var(--white-color);
    transform: rotate(45deg);
    border: 1px solid;
    border-color: #ccc transparent transparent #ccc;
}


/* .booking-form__datetime-group{
   width: 100%;
} */



.booking-form__slt-group input[id*="other"]{
    margin-left: 10px;
}

.booking-form__label-radio-btn{
    color: var(--content-text-color);
}

.booking-form__group-slt-label,
.form__name-label,
.form__phone-label,
.form__email-label,
.booking-form__date-label,
.booking-form__time-label,
.form__des-label,
.booking-form__time-label{
    display: block;
    margin-bottom: 5px;
}

.form__name-input,
.form__phone-input,
.form__email-input,
.booking-form__date-input,
.booking-form__time-input,
.form__des-input,
.booking-form__slt-list{
    width: 100%;
    min-height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    outline: none;
    padding: 8px 12px;
    font-size: 1.6rem;
}

.booking-form__slt-list{
    font-size: 1.2rem;
}

.modal__btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: unset;
    padding: 2px 24px;
    border: none;
}

.modal__btn i{
    margin-left: 10px;
}

/*Modal video*/
.modal__video-container{
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.modal__video-container i {
    display: block;
    text-align: right;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.5;
    transition: all ease-in 0.1s; 
    cursor: pointer;
}

.modal__video-container i:hover{
    opacity: 1;
}


