/*Mobile and tablet*/
@media only screen and (max-width: 64em){
    /*Header*/
    .header{
       border-bottom: 2px solid var(--primary-color)
    }

    .header__container{
        width: 100%;
    }

    .header__logo-block{
        display: flex !important;
        flex-basis: 100% !important;
        max-width: 100% !important;
        padding: 8px 16px !important;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo-link{
        /* flex: 1; */
    }

    .header__image{
        width: 100px;
    }

    .header__menu-icon{
        cursor: pointer;
        font-size: 2.2rem;
        display: inline-block;
        color: var(--primary-color);
    }

    .header__navbar-block{
        flex-basis: 100% !important;
        max-width: 100% !important;
    }

    .header__navbar-list{
        max-height: 80vh;
        display: block !important;
        height: 0;
        overflow-y: scroll;
        text-align: left;
    }

    .header__logo-block .ti-close{
        display: none;
        -webkit-tap-highlight-color: transparent;
    }
    
    .header__navbar-item::after{
        width: 0;
    }

    .header__navbar-item .ti-minus{
        color: var(--primary-color);
        -webkit-tap-highlight-color: transparent;
    }

    .header__navbar-item .ti-plus{
        display: inline-block;
        font-size: 1rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    .header__navbar-link{
        display: flex;
        padding: 12px 24px;
        line-height: unset;
        border-top: 1px solid #ccc;
        align-items: center;
        justify-content: space-between;
    }

    .header__navbar-item:hover .header__navbar-link{
        color: var(--primary-color);
        animation: unset
    }

    .header__sub-navbar{
        -webkit-tap-highlight-color: transparent;
        display: block !important;
        position: relative;
        top: 0;
        left: 0;
        height: 0;
        padding: 0;
        border-top: unset;
        transform: unset;
        box-shadow: unset;
        visibility: unset;
        opacity: unset;
        overflow-y: scroll;
    }

    .header__sub-navbar-item{
        border-top: 1px solid #ccc;
        padding: unset;

    }
    .header__sub-navbar-link{
        padding: 12px 40px;
    }

    .header__sub-navbar-link:hover{
        background: unset;
        color: var(--primary-color);
    }

    .btn.header__btn{
        display: none;
    }
    .header__navbar-item{
        display: block;
    }



    /*Footer*/
    .update-infor{
        margin-left: unset;
    }
}

/*Tablet*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    
}

/*Mobile*/
@media only screen and (max-width: 46.1875em) {
    /*Slider*/
    .slider-wrapper__image-link{
        padding-top: 180%;
    }






    /*Footer*/
    .footer-layout2__row{
        padding: 32px 8px;
        font-size: 1.5rem;
    }

    .update-infor{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .update-infor__input{
        width: 100%;
        margin-left:unset;
    }

}

