/*Mobile and tablet*/
@media only screen and (max-width: 64em){
    /*Header*/
    .header{
       border-bottom: 2px solid var(--primary-color)
    }

    .header__container{
        width: 100%;
    }

    .header__logo-block{
        display: flex !important;
        flex-basis: 100% !important;
        max-width: 100% !important;
        padding: 8px 16px !important;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo-link{
        /* flex: 1; */
    }

    .header__image{
        width: 100px;
    }

    .header__menu-icon{
        cursor: pointer;
        font-size: 2.2rem;
        display: inline-block;
        color: var(--primary-color);
    }

    .header__navbar-block{
        flex-basis: 100% !important;
        max-width: 100% !important;
    }

    .header__navbar-list{
        max-height: 80vh;
        height: 0;
        overflow-y: scroll;
        text-align: left;
    }

    .header__logo-block .ti-close{
        display: none;
        -webkit-tap-highlight-color: transparent;
    }
    
    .header__navbar-item::after{
        width: 0;
    }

    .header__navbar-item .ti-plus,
    .header__navbar-item .ti-minus{
        position: relative;
        padding: 0 12px;
        color: var(--primary-color);
        font-size: 1.2rem;
        font-weight: bold;
        -webkit-tap-highlight-color: transparent;
    }

    .header__navbar-item .ti-plus::after,
    .header__navbar-item .ti-minus::after{
        content: "";
        position: absolute;
        height: 250%;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-tap-highlight-color: transparent;
    }

    .header__navbar-item .ti-plus{
        display: inline-block;
    }


    .header__navbar-link{
        display: flex;
        padding: 12px 24px;
        line-height: unset;
        border-top: 1px solid #ccc;
        align-items: center;
        justify-content: space-between;
    }

    .header__navbar-item:hover .header__navbar-link{
        color: var(--primary-color);
        animation: unset
    }

    .header__sub-navbar{
        position: relative;
        top: 0;
        left: 0;
        height: 0;
        padding: 0;
        border-top: unset;
        transform: unset;
        box-shadow: unset;
        visibility: unset;
        opacity: unset;
        overflow-y: scroll;
        -webkit-tap-highlight-color: transparent;
    }

    .header__sub-navbar-item{
        border-top: 1px solid #ccc;
        padding: unset;

    }
    .header__sub-navbar-link{
        padding: 12px 40px;
    }

    .header__sub-navbar-link:hover{
        background: unset;
        color: var(--primary-color);
    }

    .btn.header__btn{
        display: none;
    }
    .header__navbar-item{
        display: block;
    }

    /*Slider*/
    .slider-wrapper .slider-btn{
        display: none;
    }


    /*Service list in slider*/
    .service-container{
        display: none;
    }

    .service-container--mobile{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30%;
    }

    .service-container--mobile .service-item--mobile{
        display:flex;
        justify-content:center;
        align-items:center;
        margin-top: 12px;
    }

    .service-container--mobile .service-link{
        text-decoration: none;
        width: 80%;
        background-color: var(--primary-color);
        color: var(--white-color);
        padding: 12px 6px;
        font-size: 1.5rem;
        text-align: center;
        border-radius:3px;
    }

    .service-container--mobile .service-link i{
        margin-right: 5px;
    }

    /*main-content__intro*/
    .short-introduction{
        flex-wrap: wrap;
    }

    .main-content__intro .short-introduction__img{
        width: 100%;
    }

    .main-content__intro .short-introduction__content{
        padding: 16px 32px;
    }

    /*main-content__body*/
    .common-service__item{
        margin: 12px 0;
    }

    .common-service__list{
        flex-wrap: nowrap;
    }

    /*consultant and booking*/
    .consultant-booking-content__col:first-child{
        padding: 30px 12px;
    }

    /*Achievements*/
    .achievements{
        position: relative;
        top: -30px;
    }


     /*Patient shares*/
     .achievements-and-patient-shares{
        padding: 0 0 100px;
    }
    .patient-shares__content-container{
        align-items: center;
    }

    .patient-shares-block{
        
    }
    .patient-shares__img-container{
        text-align: center;
    }
    
    .patient-shares__img{
        margin-left: unset;
    }

    .patient-shares__content-container{
        padding-right: unset;
    }
    .patient-shares__name,
    .patient-shares__job{
        flex: 1;
        text-align: center;
    }


    /*Footer*/
    .update-infor{
        margin-left: unset;
    }

    .socials-contact{
        text-align: left;
    }

    .license-img-container{
        flex-wrap: wrap;
    }

    /*Modal*/
    .modal__booking-form{
        width: 100%;
    }

    /*Content-item*/
    .content-item{
        margin: 8px 0;
    }
}

/*Tablet*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    /*Service list in slider*/
    .service-container--mobile .service-link{
        padding: 16px 6px;
        font-size: 2rem;
    }
    .service-container--mobile .service-link i{
        margin-right: 20px;
    }

    /*Modal*/
    .modal__booking-form{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
    }
}

/*Mobile*/
@media only screen and (max-width: 46.1875em) {
    /*Content section*/
    .content-section{
        padding: 60px 0 30px;
    }
    .content-section__heading{
        font-size: 2.4rem;
    }

    /*Slider*/
    .slider-wrapper__image-link{
        padding-top: 180%;
    }

    /*main-content__header*/
    .hospital-strength{
        padding: 16px 28px;
    }

    /*main-content__intro*/
    .main-content__intro .short-introduction__heading{
        font-size: 2.4rem
    }
    
    .short-introduction__video-container{
        top: 10%;
        transform: unset;
    }

    /*main-content__body*/
    .common-service__round-btn{
        transform: translate(25%, -50%)
    }

    .common-service__round-btn--right{
        transform: translate(-25%, -50%)
    }

    /*Doctor slider*/
    .slider-btns-doctors-list{
        margin-top:30px;
        padding-right: 20px;
    }

    /*consultant and booking*/
    .consultant-booking-content__heading{
        font-size: 2.8rem;
    }
    .consultant-booking-content__btns{
        text-align: center;
    }
    
    .consultant-content__btn{
        margin-left: 0;
        margin-top: 20px;
    }

    /*Achievements*/
    .achievements{
        position: relative;
        width: unset; 
        /*phải chỉnh lại vì độ rộng của nó rộng hơn width cha*/
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
        margin-left: 12px;
        margin-right: 12px;
    }

    .patient-shares__btn{
        display: none;
    }

    /*Footer*/
    .footer-layout2__row{
        padding: 32px 8px;
        font-size: 1.5rem;
    }

    .socials-contact{
        text-align: center;
    }

    .update-infor{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .update-infor__input{
        width: 100%;
        margin-left:unset;
    }


    .footer-layout1__row{
        padding: 20px 0;
    }

    .footer-content-section{
        text-align: center;
    }
    .footer-content-section__heading::after{
        left: 50%;
        transform: translateX(-50%);
    }

    .license-img-container{
        justify-content: center;
    }

    /*Modal*/
    .modal__form-container{
        padding: 0 0 48px 0;
    }

    .modal__booking-form .booking-from_row{
        flex-direction: column-reverse;
    }

    .modal__consultant-booking-form .modal__form-container{
        padding: 0 0 48px 0;
    }

    .modal__consultant-booking-form .consulting-form-row{
        flex-direction: column-reverse;
    }

    .modal__consultant-booking-form{
        max-height: 100%;
        overflow-y: scroll;
    }
    
    .booking-form__error-message.text-input{
        top: 70px;
        left: 66px;
        max-width: unset;
        transform: unset;
    }
    .booking-form__time-field{
        margin-top: 10px;
    }

    /*Intro page*/
    .content-header{
        padding: 0 20px;
    }

    .content-paragraph{
        padding: 0 20px;
    }
    .side_navbar{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    /*App container*/
    .main-container{
        padding: 0 12px;
    }

    .content-item{
        margin: 8px 0;
    }

}

