<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        var html = document.querySelector('html');
        html.style.visibility = 'hidden';
    </script>  
    <script type="module" >
        import {getFooter, getHead, getModal, getHeader} from '../assets/js/viewsEngine/index.js'
        import {loadingScreen} from '../assets/js/constant/page.js'
        document.addEventListener('DOMContentLoaded', function(e) {
            Promise.resolve()
            .then(() => loadingScreen.style.display = 'none')
            .then(() => getHeader())
            .then(() => getFooter())
            .then(() => getModal())
            .then(() =>  getHead('Bí quyết mắt khỏe'))
            .then(() => {
                let newScript = document.createElement('script')
                let body = document.querySelector('body')
                newScript.type = "module"
                newScript.src = `../assets/js/healthyeyespage.js`
                body.appendChild(newScript)
            })
        })
    
        window.onload = function(e) {
            html.style.visibility = 'unset'
        }
    </script>    

</head>
<body>
    <div class="loading-srceen">
        <div class="loading-screen__circle">
            
        </div>
    </div>

    <div class="app">
        <header class="header">
            
        </header>
    
        <div class="app__container">
            <div class="grid wide">
                <div class="row main-container">
                    <div class="col l-8 m-6 c-12">
                        <div class="content-container row">
                            <div class="col l-6 m-12 c-12">
                                <div class="content-item active">
                                    <div class="content-img">
                                        <img src="../assets/img/bac-si-ket.jpg" alt="">
                                    </div>
            
                                    <div class="content-infor">
                                        <a class="content-heading" href="#">
                                            BÍ QUYẾT BẢO VỆ ĐÔI MẮT SÁNG KHỎE KHI HỌC TRỰC TUYẾN
                                        </a>
                                        <p class="content-des">
                                            Trong thời gian học tập trực tuyến, việc chăm chú nhìn màn hình thiết bị điện tử có thể khiến các em học sinh suy
                                        </p>
                                        <a href="#" class="content-detail">
                                            Xem chi tiết >>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col l-6 m-12 c-12">
                                <div class="content-item active">
                                    <div class="content-img">
                                        <img src="../assets/img/bac-si-ket.jpg" alt="">
                                    </div>
            
                                    <div class="content-infor">
                                        <a class="content-heading" href="#">
                                            BÍ QUYẾT BẢO VỆ ĐÔI MẮT SÁNG KHỎE KHI HỌC TRỰC TUYẾN
                                        </a>
                                        <p class="content-des">
                                            Trong thời gian học tập trực tuyến, việc chăm chú nhìn màn hình thiết bị điện tử có thể khiến các em học sinh suy
                                        </p>
                                        <a href="#" class="content-detail">
                                            Xem chi tiết >>
                                        </a>
                                    </div>
            
                                    
                                </div>
                            </div>
                            <div class="col l-6 m-12 c-12">
                                <div class="content-item">
                                    <div class="content-img">
                                        <img src="../assets/img/bac-si-ket.jpg" alt="">
                                    </div>
            
                                    <div class="content-infor">
                                        <a class="content-heading" href="#">
                                            BÍ QUYẾT BẢO VỆ ĐÔI MẮT SÁNG KHỎE KHI HỌC TRỰC TUYẾN
                                        </a>
                                        <p class="content-des">
                                            Trong thời gian học tập trực tuyến, việc chăm chú nhìn màn hình thiết bị điện tử có thể khiến các em học sinh suy
                                        </p>
                                        <a href="#" class="content-detail">
                                            Xem chi tiết >>
                                        </a>
                                    </div>
            
                                    
                                </div>
                            </div>
                            <div class="col l-6 m-12 c-12">
                                <div class="content-item">
                                    <div class="content-img">
                                        <img src="../assets/img/bac-si-ket.jpg" alt="">
                                    </div>
            
                                    <div class="content-infor">
                                        <a class="content-heading" href="#">
                                            BÍ QUYẾT BẢO VỆ ĐÔI MẮT SÁNG KHỎE KHI HỌC TRỰC TUYẾN
                                        </a>
                                        <p class="content-des">
                                            Trong thời gian học tập trực tuyến, việc chăm chú nhìn màn hình thiết bị điện tử có thể khiến các em học sinh suy
                                        </p>
                                        <a href="#" class="content-detail">
                                            Xem chi tiết >>
                                        </a>
                                    </div>
            
                                    
                                </div>
                            </div>
                            <div class="col l-6 m-12 c-12">
                                <div class="content-item">
                                    <div class="content-img">
                                        <img src="../assets/img/bac-si-ket.jpg" alt="">
                                    </div>
            
                                    <div class="content-infor">
                                        <a class="content-heading" href="#">
                                            BÍ QUYẾT BẢO VỆ ĐÔI MẮT SÁNG KHỎE KHI HỌC TRỰC TUYẾN
                                        </a>
                                        <p class="content-des">
                                            Trong thời gian học tập trực tuyến, việc chăm chú nhìn màn hình thiết bị điện tử có thể khiến các em học sinh suy
                                        </p>
                                        <a href="#" class="content-detail">
                                            Xem chi tiết >>
                                        </a>
                                    </div>
            
                                    
                                </div>
                            </div>
                        </div>

                        <div class="pagination">
                            <a href="#" class="pagination_btn active">
                                1
                            </a>
                            <a href="#" class="pagination_btn">
                                2
                            </a>
                            <a href="#" class="pagination_btn">
                                3
                            </a>
                        </div>
                    </div>
                    <div class="col l-4 m-6 c-12">
                        <div class="side_navbar">
                            <ul class="navbar_list">
                                <li class="navbar_item">
                                    <a href="./introPage.html" class="navbar_link">
                                        Giới thiệu chung
                                    </a>
                                    <i class="fas fa-chevron-right"></i>
                                </li>
                                <li class="navbar_item">
                                    <a href="#" class="navbar_link">
                                        Đội ngũ bác sĩ
                                    </a>
                                    <i class="fas fa-chevron-right"></i>
                                </li>
                                <li class="navbar_item">
                                    <a href="./healthyEyesPage.html" class="navbar_link">
                                        Bí quyết mắt khỏe
                                    </a>
                                    <i class="fas fa-chevron-right"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <footer class = "footer">
            
        </footer>
    
        <div class="modal">
    
        </div>
    </div>

</body>
</html>