<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mắt Sài Gòn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/grid.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>

    <div class="app">
        
        <header class="header">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-2">
                        <a href="./homepage.html" class="header__logo-link">
                            <img src="../assets/img/main-logo.png" alt="" class="header__image">
                        </a>
                    </div>

                    <div class="col l-8">
                        <nav class="header__navbar-list">
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-link">Trang chủ</a>
                            </li>
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-link">
                                    Về chúng tôi
                                </a>
                                <ul class="header__sub-navbar">
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Giới thiệu chung</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Hệ thống bệnh viện</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Đội ngũ bác sĩ</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Trang thiết bị</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Tuyển dụng</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Thư viện hình & video</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-link">Dịch vụ</a>
                                <ul class="header__sub-navbar">
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Khám mắt</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Điều trị tật khúc xạ</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Phẫu thuật tật khúc xạ</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Phẫu thuật cườm khô PHACO</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-link">Bệnh về mắt</a>
                                <ul class="header__sub-navbar">
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Các tật khúc xạ</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Đục thủy tinh thể</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Lé mắt</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Cườm nước</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-link">Hướng dẫn khách hàng</a>
                                <ul class="header__sub-navbar">
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Bí quyết mắt khỏe</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Thông tin bảo hiểm</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Hướng dẫn thanh toán</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__navbar-item">
                                <a href="" class="header__navbar-link">Tin tức</a>
                                <ul class="header__sub-navbar">
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Tin khuyến mại</a>
                                    </li>
                                    <li class="header__sub-navbar-item">
                                        <a href="" class="header__sub-navbar-link">Tin truyền thông</a>
                                    </li>
                                </ul>
                            </li>
                        </nav>
                    </div>

                    <div class="col l-2">
                        <a href="" class="btn header__btn">Đặt lịch khám</a>
                    </div>

                </div>
            </div>
        </header>

        <div class="app__container">
            <div class="slider-wrapper">
                <a href="" class="slider-wrapper__image-link"></a>

                <a href="#" class="round-btn slider-btn slider-btn--left">
                    <i class="fas fa-chevron-left slider-btn__icon"></i>
                </a>
                <a href="#" class="round-btn slider-btn slider-btn--right">
                    <i class="fas fa-chevron-right slider-btn__icon"></i>
                </a>


                <div class="service-container">
                    <ul class="service-list">
                        <li class="service-item">
                            <a href="tel:0963075062" class="service-item__link">
                                <img src="../assets/img/phone.png" alt="" class="service-img">
                                <span class="service-name">Hotline: 0963075062</span>   
                                <i class="fas fa-chevron-right service-icon"></i>
                            </a>
                        </li>
                        <li class="service-item">
                            <a href="" class="service-item__link">
                                <img src="../assets/img/location.png" alt="" class="service-img">
                                <span class="service-name">Tìm bệnh viện</span>
                                <i class="fas fa-chevron-right service-icon"></i>
                            </a>
                        </li>
                        <li class="service-item">
                            <a href="" class="service-item__link">
                                <img src="../assets/img/consultant.png" alt="" class="service-img">
                                <span class="service-name">Nhận tư vấn miễn phí</span> 
                                <i class="fas fa-chevron-right service-icon"></i>
                            </a>
                        </li>
                        <li class="service-item">
                            <a href="" class="service-item__link">
                                <img src="../assets/img/podcast.png" alt="" class="service-img">
                                <span class="service-name">Nghe Podcast chăm khỏe mắt</span>   
                                <i class="fas fa-chevron-right service-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="bottom-slidebuttons">
                    <a href="#" class="bottom-slidebutton bottom-slidebutton--active"></a>
                    <a href="#" class="bottom-slidebutton"></a>
                    <a href="#" class="bottom-slidebutton"></a>
                    <a href="#" class="bottom-slidebutton"></a>
                    <a href="#" class="bottom-slidebutton"></a>
                    <a href="#" class="bottom-slidebutton"></a>
                </div>

                <!--Ý tưởng làm loading circle: Sử dụng hai nửa vòng tròn,
                nằm đè trên 1 vòng tròn đầy. Mỗi nửa vòng tròn nằm trong một container 
                nằm ngược bên với nó. Tạo animation cho nửa vòng tròn là rotate, mỗi nửa vòng
                tròn sẽ quay 180deg và có tg delay tương ứng với duration của vòng tròn trước.
                Nửa vòng tròn chỉ hiện khi nó quay tới chỗ container chứa nó vì phần tử này set overflow 
                = hidden. -->
                <div class="loading-circle-container" id="loading-circle">
                    <div class="center-circle"></div>
                    <div class="left-container">
                        <div class="half-circle half-circle--right" style="--degStartCoe: 1; --delayTimeStartCoe: 5; --delayTimeEndCoe: 1; "></div>
                    </div>
                    
                    <div class="right-container">
                        <div class="half-circle half-circle--left" style="--degStartCoe: 5 ; --delayTimeStartCoe: 1; --delayTimeEndCoe: 3"></div>
                    </div> 
                </div>
                <!--Coe: Coefficient: Hệ số-->
                <!--delayCoe của left thấp hơn vì nó là vòng tròn rotate trước-->
            </div>

        </div>

        <footer class="footer">

        </footer>

    </div>

    <script>
        var loadingCircle = document.getElementById("loading-circle");
        loadingCircle.style.display = "block";
        setTimeout(function() {
                loadingCircle.style.display = "none";
        },5000);
        
        setInterval(function() {
            loadingCircle.style.display = "block";
            setTimeout(function() {
                loadingCircle.style.display = "none";
            }, 5000);
        }, 5200);
    </script>
    
    
</body>
</html>